* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.side-menu {
    padding: 16px;
    width: 320px;
    max-height: 100%;
    overflow-y: auto;
}
.side-menu::-webkit-scrollbar {
    display: none;
}
.menu {
    margin-top: 20px;
    line-height: 45px;
}
.menu__text {
    position: relative;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: -0.2px;
}
.menu__text:hover::before { 
    position: absolute;
    content: "";
    left: -16px;
    top: 6px;
    width: 4px;
    height: 30px;
    background: #41F6D7;
    border-radius: 5px;
}
.menu__text span {
    display: inline-block;
}
.menu__text:hover span {
    animation-name: text-animation;
    animation-duration: 3s;
}
@keyframes text-animation {
    0% {
        filter: opacity(25%);
    }
    100% {
        filter: opacity(100%);
    }
}
.menu__footer {
    margin-top: 20px;
}
.footer-text-group {
    margin-top: 10px;
}
.footer__text + div {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}
.footer__text:last-child {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
}
.ru:hover, .en:hover, .ch:hover {
    color: #7E7E82;
    cursor: pointer;
    animation-name: text-animation;
    animation-duration: 1s;
}