.brand__header {
    background-image: linear-gradient(90deg, #F8F8F8, #FFFFFF);
}
.brand__content {
    margin-top: 16px;
    padding: 0px 30px 38px 0px;
    background-color: #F8F8F8;
    position: relative;
    overflow: hidden;
}
.brand__title {
    color: #7E7E82;
    text-transform: uppercase;
}
.brand__box {
    display: flex;
    padding: 16px;
    background-color: white;
    border-radius: 6px;
    width: 240px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EAEAEA;
    flex-shrink: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.brand__content .swiper-pagination-bullet {
    background-color: #DDDDDD !important;
    opacity: 1 !important;
}
.brand__content .swiper-pagination-bullet-active {
    background-color: #B5B6BC !important;
}
.brand-container:nth-of-type(2),
.brand-container:nth-of-type(3) {
    margin-top: 40px;
}
.brand-container:nth-of-type(2) {
    .brand__box {
        display: flex;
        padding: 16px;
        background-color: white;
        border-radius: 6px;
        width: 240px;
        height: 160px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #EAEAEA;
        flex-shrink: 0;
        box-sizing: border-box;
        cursor: pointer;
    }
    .brand__arrow {
        margin-top: auto;
    }
}
.brand__text {
    font-weight: 500;
    align-self: flex-start;
}
.brand-container:nth-of-type(3) {
    .brand__box {
        display: flex;
        position: relative;
        padding: 16px;
        flex-direction: column;
        background-color: white;
        border-radius: 6px;
        width: 260px;
        height: 200px;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid #EAEAEA;
        flex-shrink: 0;
        box-sizing: border-box;
        cursor: pointer;  
    } 
    .brand__text {
        color: #7E7E82;
        font-size: 14px;
    }
    .brand__subtext {
        font-size: 14px;
        line-height: 18px;
    }
    .brand-text-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
    .brand-text-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}