.header__button,
.footer__button {
    background: none;
    border: none;
    cursor: pointer;
}
.header-button-group {
    display: flex;
    align-items: center;
    width: 100%;
}
.header__button:last-child {
    margin-left: auto;
}
.left-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}
.right-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: auto;
}
.footer-button-group {
    display: flex;
    gap: 15px;
}