@import "fonts/fonts.scss";
@import "blocks/services.scss";
@import "elements/button.scss";
@import "blocks/sidemenu.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: TT Lakes;
    color: #1B1C21;
}
