@import "fonts/fonts.scss";
@import "blocks/sidemenu.scss";
@import "blocks/services.scss";
@import "elements/button.scss";
@import "elements/brand.scss";
@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: TT Lakes;
    color: #1B1C21;
}

@media (max-width: 767px)  {
    .expand:nth-of-type(2),
    .expand:nth-of-type(3) {
        display: none;
    }
    .hide-mobile {
        display: none;
    }
    .price-table-container {
        display: none;
    }
}
@media (min-width: 768px) {
    .price-table-container {
        display: block;
    }
    .brand-container:nth-of-type(3) .brand__content {
        display: none !important;
    }  
    .scroll-menu {
        overflow-x: visible;
        white-space: normal;
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) and (max-width: 1365px) {
    .brand-container {
        width: 768px;
    }
    .brand__content {
        height: auto;
        display: grid;
        padding: unset;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu__footer {
        margin-top: 250px;
    }
    .brand-container:nth-child(1) .swiper-slide:nth-last-child(-n+5) {
        display: none;
    }
    .brand-container:nth-child(2) .swiper-slide:nth-last-child(-n+5) {
        display: none;
    }
    .swiper-slide {
        width: 100% !important;
    }
    .brand__box {
        width: 100% !important;
        max-width: 100% !important;
    }    
}
@media (min-width: 1366px) {
    .brand-container {
        width: 1120px;
    }
    .brand__content {
        height: auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: unset;
    }
    .swiper-slide {
        width: 100% !important;
    }
    .brand__box {
        width: 100% !important;
        max-width: 100% !important;
    }
    .menu__footer {
        margin-top: 250px;
    }    
    .close-menu {
        display: none;
    }
    .services > .side-menu:first-of-type {
        display: none !important;
    }
    #sideMenu {
        position: relative !important;
        transform: none !important;
        transition: none !important;
        display: block !important;
        width: 320px;
        height: auto;
    }
    .services {
        display: flex;
        align-items: flex-start;
    }
    .tab-menu {
        flex: 1;
    }
    .brand-container:nth-child(1) .swiper-slide:nth-last-child(-n+3) {
        display: none;
    }
    .brand-container:nth-child(2) .swiper-slide:nth-last-child(-n+4) {
        display: none;
    }         
}